.event
  %h1= link_to event.name, event
  %p= event.occures_at
  %h2= 'Location'
  %p= event.location
  %h2= 'Description'
  = truncate(event.description_to_html, :length => 150, :omission => ' [...]')
