= semantic_form_for @event do |f|
  = f.inputs :event do
    = f.input :name
    = f.input :description
    = f.input :starts_at
    = f.input :ends_at
    = f.input :homepage
  = f.inputs :location, :for => :location do |l|
    = l.input :address
    = l.input :town
    = l.input :zipcode
    = l.input :country, :country => 'NL'
  = f.buttons
