= semantic_form_for @event, :class => 'formBlock' do |f|
  = f.inputs :event, :class => 'w1-2' do
    = f.input :name
    = f.input :description
    = f.input :homepage
  = f.inputs :dates, :class => 'w1-2' do
    = f.input :starts_at
    = f.input :ends_at
  = f.inputs :location, :for => :location, :class => 'w1-2' do |l|
    = l.input :address
    = l.input :town
    = l.input :zipcode
    = l.input :country, :country => 'NL'
  = f.buttons
  .break
