= semantic_form_for @event, :class => 'formBlock' do |f|
  = f.inputs :event, :class => 'w1-2' do
    = f.input :name
    = f.input :description, :input_html => {:rows => 7}
    = f.input :homepage, :as => :url
  - if @event.new_record?
    = f.inputs :dates, :class => 'w1-2 datetime' do
      = f.input :starts_at_string, :required => true, :as => :string, :label => 'Starts at'
      = f.input :ends_at_string, :required => true, :as => :string, :label => 'Ends at'
  = f.inputs :location, :for => :location, :class => 'w1-2' do |l|
    = l.input :address
    = l.input :town
    = l.input :zipcode
    = l.input :country, :priority_countries => ['NL']
  = f.buttons
  .break
