= nav_at 'Events'
.event
  %h1= link_to @event.name, @event
  %p= @event.location
  %p= @event.occures_at
  %p= @event.description_to_html
= link_to 'back', events_path
- if current_user.is_owner_of?(@event)
  = link_to 'edit', edit_event_path(@event)
